<section>
    <div class="cont">
        <h1>TOS</h1>
        <br>
        <br>
        <br>
        <br>
        <label for="email">Email</label>
        <input type="text" placeholder="email" name="email">
        <br>
        <br>
        <br>
        <label for="pwd">Password</label>
        <input type="password" placeholder="password" name="pwd">
        <br>
        <br>
        <br>

        <button type="button" (click)="login()">Sign In</button>
        <br>
        <br>

        <a routerLink="/signup" style="text-decoration: none;color: white;">
            <button type="button">Sign Up</button>
        </a>
    </div>
</section>